.main-body {
	background: #cce;
	border: 2px solid blue;
	font-family: helvetica, arial, sans-serif;
	margin: 3em;
	width:66%;
}

.heading {
	background: #eef;
	border-bottom: 2px solid #888;
	font-weight: bold;
	font-size: 36pt;
	padding: 1em;
	text-align: center;
}

.country-button {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f0f0f0),
		to(#e0e0e0));
	font-size: 48pt;
	height: 10%;
	margin: 50px;
	width: 75%;
}

.country-button[current=true] {
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d0f0d0),
		to(#a0e0a0));
	font-weight: bold;
}

#clientinfo {
	background: #cce;
	border-bottom: 1px solid #aaa;
	font-size: 12pt;
	padding: 0.5em;
}

.status {
	visibility: hidden;
	font-size: 24pt;
	font-weight: bold;
}

.ui-button {
	border: 2px solid #aaa !important;
}

.ui-icon {
	left: 2em !important;
	top: 33% !important;
}

.ui-button .ui-icon.au-flag {
	background-image: url(au-flag.png);
	width: 48px;
	height: 48px;
}
.ui-button .ui-icon.us-flag {
	background-image: url(us-flag.png);
	width: 48px;
	height: 48px;
}
.ui-button .ui-icon.uk-flag {
	background-image: url(uk-flag.png);
	width: 48px;
	height: 48px;
}

.ui-button-text {
	display: initial !important;
	font-size: 48pt;
}
