body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt;
}

.title {
  background: #eff;
  font-size: 2em;
}

.mainBody {
  background: #ffe;
  border: 1px solid #aaa;
  margin: 1em;
  padding: 1em;
}

.outputData {
  display: inline-block;
}

.graph {
  background: #eee;
  border: 2px ridge #eed;
  display: inline-block;
  padding: 0.5em;
  vertical-align: top;
}

.box {
  border: 1px solid #aaa;
  display: inline-block;
  font-size: 8pt;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  width: 35em;
}

.controls {
  position: absolute;
}

.control-header {
  background: #eed;
  border: 2px ridge #eed;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.1em;
}

.slider-box {
  background: #def;
  border: 1px solid #aae;
  margin: 0.5em;
}

.slider {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.slider-header {
  background: #bcf;
  padding: 0.2em;
}
.slider-value {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.ui-slider-handle {
  border: 1px solid #9c9c9c !important;
}

.ui-button {
  margin: 0.2em;
}

#values {
}

.value-component {
  background: #def;
  border: 1px solid #aae;
  margin: 0.5em;
  padding: 0.1em;
}

.value-label {
  background: #bcf;
  font-size: 10pt;
  font-weight: bold;
  padding: 0.2em;
}

.value-title {
  background: #def;
  font-weight: bold;
  display: inline-block;
  padding: 0.2em;
  width: 10em;
}

.value-value {
  display: inline-block;
  padding: 0.2em;
  width: 5em;
}

.select-label {
  display: inline-block;
  border: 1px solid #aaa;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.1em;
}
